/.CodeRepairTests.java._trace
/.CodeRepairTests.xtendbin
/.HoverOverTests.java._trace
/.HoverOverTests.xtendbin
/.OclxContentAssistTests.java._trace
/.OclxContentAssistTests.xtendbin
/CodeRepairTests.java
/HoverOverTests.java
/OclxContentAssistTests.java
