/.CodeRepairExecutionTests.java._trace
/.CodeRepairExecutionTests.xtendbin
/CodeRepairExecutionTests.java
/.CodeRepairTests.java._trace
/.HoverOverTests.java._trace
/.OclxContentAssistTests.java._trace
